<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Copra-ID - Halaman Utama</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Reveal - v4.8.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a href="/">Copra<span>-ID</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt=""></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Beranda</a></li>
          <li><a class="nav-link scrollto" href="#about">Tentang</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero">

    <div class="hero-content" data-aos="fade-up">
      <h2>Identifikasi Tingkat Kematangan <span>Kopra</span></h2>
      <h2>Sekarang!</h2>
      <div>
        <form method="POST" action="" enctype="multipart/form-data">
          <input
            type="file"
            accept="image/*"
            class="form-control"
            id="photo"
            name="photo"
          />
          <button type="submit" class="btn-get-started scrollto">
            Identifikasi
          </button>
        </form>
      </div>
    </div>

    <div class="hero-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('static/img/hero-carousel/1.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('static/img/hero-carousel/2.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('static/img/hero-carousel/3.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('static/img/hero-carousel/4.jpg');"></div>
        <div class="swiper-slide" style="background-image: url('static/img/hero-carousel/5.jpg');"></div>
      </div>
    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="static/img/about-img2.png" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Copra-ID adalah aplikasi yang dapat mengidentifikasi tingkat kematangan kopra berdasarkan gambar.</h2>
            <h3>Aplikasi ini memiliki keunggulan seperti berikut:</h3>

            <ul>
              <li><i class="bi bi-check-circle"></i> Model deep learning dibuat menggunakan 3030 dataset citra kopra.</li>
              <li><i class="bi bi-check-circle"></i> Aplikasi ini dapat mengidentifikasi 3 tingkat kematangan kopra.</li>
              <li><i class="bi bi-check-circle"></i> Desain yang mudah digunakan dan responsif di semua perangkat seperti ponsel, windows, dan tablet.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  <!-- ======= classes Section ======= -->
  <section id="classes" class="classes section-bg">
    <div class="container" data-aos="fade-up">
  
      <div class="section-header">
        <h2>Tingkat Kematangan Kopra</h2>
        <p>Berikut ini merupakan 3 tingkat kematangan kopra yang dapat diidentifikasi.</p> 
      </div>
  
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/kopra/mentah1.jpg" alt="">
              <h4>Mentah</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/kopra/setengah1.jpg" alt="">
              <h4>Setengah Matang</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/kopra/matang1.jpg" alt="">
              <h4>Matang</h4>
            </div>
          </div>
          </div>
      </div>
  
    </div>
  </section><!-- End class Section -->

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>